
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Avenir', sans-serif;
	font-size: 16px;
}

body {

	  // animation: color-change-3x 14s linear infinite alternate both;
	  // background: rgba(255,255,255,0.50) ;
		background-color: #DCD9D4;
		background-blend-mode: soft-light,screen;
		background-repeat: no-repeat;
		background-attachment: fixed;
		color:#444;
		margin:2%;

		display: grid;
		grid-template-columns: 1fr 4fr;
		grid-template-rows: 100px 800px;
		grid-template-areas: 
			"header header"
			"nav main";
		justify-content: center;



	a {
		text-decoration: none;
		color:#444;
		// width: 100%;
		position:relative;
	  height: 100px;
	  margin: 0 auto;
	  overflow: hidden;
	  &::before {
	  	margin: 5px auto;
		  width: 0px;
		  color: #262626;
		  overflow: hidden;
		  position: absolute;
		  content: attr(data-text);
		  transition: all 0.9s;
	  }
	  @media (pointer: fine) {
		  &:after {
		  	width:0px;
		  
		}
	  &:hover {
	  	&::before {
	  		width:100%;
	  	}
	  	&:after {
	  		width:100%;
	  	}
	  }
	}
	}


	header {
		grid-area: header;
		margin-bottom: 4%;
		.title {
			font-size: 3rem;
			opacity: 0;
  			animation: fade-in-right ease .4s forwards;
		}
	}



	nav {
		grid-area:nav;
		.menu {
		list-style-type: none;
			.menu-item {
			margin-bottom: 8%;
			opacity: 0;
			animation: fade-in-right ease .8s forwards;
			}
		}
	}







	main {
		opacity: 0;
		animation: fade-in ease 1.4s forwards;
		grid-area:main;
		width: 100%;
		display: flex;
		overflow: hidden;
		position: relative;
		
		.work {
			width: 100%;
			height: auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			section {
				  padding-bottom: 40px;
				p {
					padding-bottom: 10px;
				}
			.project {
				
				height: 400px;
    		width: 400px;
			}
		}
	}
}

	img {
		width: 100%;
		height: 100%;
		margin: auto

	}


	.about {
		h4{
			margin-bottom: 4%;
		}
			width: 100%;
			height: auto;
			flex-wrap: wrap;
			width: 80%;
			margin: 0 auto;
			position: absolute;
			top:0;
			opacity: 0;
			display: none;

		.bio {
			margin: 40px 0;	

		}

		.contact {
			display: flex;
			margin-top: 4%;
			position: relative;

			.contact-link {
				margin-right: 20px;	
			}
		}
	}





	/*For JS*/


	.selected {
		border-bottom: 1px solid #444;
	}

	.not-shown {
		opacity: 0;
		transition: all .4s;
	}
	.shown {
		opacity: 1;
		transition: all .4s;
	}

}


// Mobile Styling

@media only screen and (max-width: 720px) {
	body {
		display: flex;
		flex-direction: column;
		text-align: center;
		font-size: 1.5rem;
			a {
	  	line-height: 100px;
			  &::before {
			  	margin: 8px auto;
			  }
			}
		nav {
			.menu {
				display: flex;
    		justify-content: space-evenly;
			}
		}
		main {
			display: block;
			align-items:center;
			.work {
				flex-direction: column;
				.project {
					margin: 16px auto 40px;
				}
			}
			.about {
				  margin: 0 30px;
				.bio {
					text-align: left;
				}
			}
		}
	}
}

