@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes grow-left {
  from {
    transform: translateX(20px);
  }

  to {
    transform: translateX(0px)
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes reveal {
  0% {
    right: 100vw;
  }
  50% {
    right: 0vw;
  }
  100% {
    right: -100vw
  }
}

@keyframes navigate {
  0% {
    right: -100vw;
  }
  50% {
    right: 0vw;
  }
  100% {
    right: 100vw
  }
}



.container {
  &.navigate {
    main {
      opacity: 0;
      animation: fade-in 0.6s ease-out .8s forwards;
    }
  }
}

#splash {
  background-color: #444 ;
  position: fixed;
  top: 0;
  right:0;
  height: 100vh;
  width: 100%;
  z-index: 9999999;
  animation: reveal 1s cubic-bezier(.6,.34,.18,1) forwards;
  &.dark-mode {
    background-color: #dadada;
  }
}


#splash.navigate {
  animation: navigate 1s cubic-bezier(.6,.34,.18,1) forwards;
}


.title {
  animation: fade-in-right 0.5s ease  forwards;
  animation-delay: .8s;
}
.menu {
  animation: fade-in-right 0.4s ease  forwards;
  animation-delay: 1s;
}

.color-pref {
  animation: fade-in-right 0.4s ease  forwards;
  animation-delay: 1.1s;
}

main {
  animation: fade-in-right 0.6s ease  forwards;
  animation-delay: 1.3s;
  &.aboutShowing {
    opacity: 0;
    animation: fade-in-right 0.6s ease-out 2.8s forwards;
  }

}

.work {
  animation: fade-in 0.5s ease  forwards;
}